.sidebar {
  background-color: var(--color-white);
  display: flex;
  align-items: flex-start;
  padding-left: 16px;
  position: relative;
  width: 140px;
  height: 100%;
}

.verticalTabs {
  border-right: 1px solid var(--color-border-light);
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  gap: 4px;
  height: 100%;
  isolation: isolate;
  align-items: flex-start;
  min-height: 0;
  min-width: 0;
  padding-top: 16px;
  position: relative;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 16px;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}

.sectionHeader {
  display: flex;
  gap: 4px;
  align-items: center;
  padding-top: 16px;
  width: 100%;
  flex-shrink: 0;
}

.sectionHeaderWithBorder {
  border-top: 1px solid var(--color-border-light);
  border-top-width: 1px;
  padding-bottom: 4px;
  padding-top: 16px;
  display: flex;
  gap: 4px;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
}

.sectionIcon {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.sectionIcon svg {
  width: 14px;
  height: 14px;
  color: var(--color-primary);
  display: block;
}

.sectionLabel {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-12);
  line-height: var(--line-height-20);
  color: var(--color-text-2);
  width: 48px;
  white-space: pre-wrap;
}

.item {
  border: 0 solid var(--color-border-light);
  display: flex;
  gap: 4px;
  align-items: center;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  width: 100%;
  flex-shrink: 0;
  cursor: pointer;
  transition: all 0.2s ease;
}

.itemActive::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: var(--color-primary);
}

.itemLabel {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-14);
  line-height: var(--line-height-22);
  color: var(--color-text-2);
  transition: color 0.2s ease;
}

.itemActive .itemLabel {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-1);
}

.item:hover:not(.itemActive) {
  background-color: var(--color-bg-light);
}
